@model Employee
@{
    ViewBag.Title = "Detail Employee";
}
 
<div class="row col-md-12">
    <table>
        <tr>
            <td>Name</td>
            <td>@Html.TextBoxFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>@Html.TextBoxFor(model => model.Phone)</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@Html.TextAreaFor(model => model.Address)</td>
        </tr>
    </table>
    @Html.ActionLink("Back", "Index", "Home")
</div> 